<div>
  <h1>HELLO BRO</h1>
<h3>Contact helper v1.0</h3>
<form action="/submit" method="POST">
  <input type="text" name="model[name]" value="Enter Model Name" />
  <input type="submit" value="Submit" />
</form>
</div>