<link rel="stylesheet" type="text/css" href="style.css">
<body>
<div class="center white">
  <img></img>
<h1>Wall of Whatever</h1>
<form action="/submit" method="POST">
  <textarea type="text" name="model[name]" value="Enter Model Name" /></textarea>
  <input type="submit" value="Submit" />
</form>
</div>
<body>