<style>
    html body {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0;
      padding: 0px ! important;
    font-family: sans-serif;
    background-color: #F3F3F3;
  }

h1 {
  color: black;
}
.center {
    margin: auto;
    width: 60%;
    padding: 20px;
}
.white {
  background-color: white;
}
ul, li {
list-style-type: none;
}

</style>
<body>
<div class="center white">
<h1>Wall of Whatever</h1>
<form action="/submit" method="POST">
  <input type="text" name="model[name]" value="Enter Model Name" />
  <input type="submit" value="Submit" />
</form>
<br>
<hr>
<br>
<h3>Whatevers:</h3>
<ul>
<% @models.each do |model| %>
  <li>
    <%= model.name %>
    <br>
    <hr>
    <br>
  </li>
<% end %>
</ul>
<a href="/">Back to Home</a>
</div>
</body>