<style>
body {
  font-family: sans-serif;
}

h1 {
  color: red;
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
</style>


<div class="center">
  <h1>HELLO BRO</h1>
<h3>Contact helper v1.0</h3>
<form action="/submit" method="POST">
  <input type="text" name="model[name]" value="Enter Model Name" />
  <input type="submit" value="Submit" />
</form>

<h3>All Models</h3>
<ul>
<% @models.each do |model| %>
  <li>
    <%= model.name %>
  </li>
<% end %>
</ul>
<a href="/">Back to Home</a>
</div>