<style>

body {
  font-family: sans-serif;
  background-color: #F3F3F3;
  padding: 0px;
}

h1 {
  color: black;
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
.white {
  background-color: white;
}
</style>
<body>
<div class="center white">
  <h1>HELLO BRO</h1>
<h3>Contact helper v1.0</h3>
<form action="/submit" method="POST">
  <input type="text" name="model[name]" value="Enter Model Name" />
  <input type="submit" value="Submit" />
</form>


<h3>All Models</h3>
<ul>
<% @models.each do |model| %>
  <li>
    <%= model.name %>
  </li>
<% end %>
</ul>
<a href="/">Back to Home</a>
</div>
</body>